<section class="col-lg-6 connectedSortable">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                My Tickets
            </h3>
        </div>
        <div class="card-footer clearfix">
            <a href="{% url 'tickets:create_ticket' %}" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add Ticket</a>
        </div>
        <div class="card-body">
            <ul class="todo-list" data-widget="todo-list">
                {% for ticket in tickets %}
                <li>
                    <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                    <div class="icheck-primary d-inline ml-2">
                        {% if ticket.status != 'open' %}
                            <input type="checkbox" value="" name="ticket{{ ticket.id }}" id="todoCheck{{ ticket.id }}" checked>
                            <label for="todoCheck{{ ticket.id }}"></label>
                        {% else %}
                            <input type="checkbox" value="" name="ticket{{ ticket.id }}" id="todoCheck{{ ticket.id }}">
                            <label for="todoCheck{{ ticket.id }}"></label>
                        {% endif %}
                    </div>
                    <span class="badge badge-info">{{ ticket.status }}</span>
                    <a href="{% url 'tickets:ticket_details' ticket.id %}"><span class="text">{{ ticket.title }}</span></a>
                    <small class="badge badge-secondary"><i class="far fa-clock"></i> {{ ticket.created_at }} </small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="col-lg-6 connectedSortable">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
                My Tasks
            </h3>
        </div>
        <div class="card-body">
            <ul class="todo-list" data-widget="todo-list">
                {% for ticket in assignedToMe %}
                <li>
                    <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                    <div class="icheck-primary d-inline ml-2">
                        {% if ticket.status != 'open' %}
                            <input type="checkbox" value="" name="ticket{{ ticket.id }}" id="todoCheck{{ ticket.id }}" checked>
                            <label for="todoCheck{{ ticket.id }}"></label>
                        {% else %}
                            <input type="checkbox" value="" name="ticket{{ ticket.id }}" id="todoCheck{{ ticket.id }}">
                            <label for="todoCheck{{ ticket.id }}"></label>
                        {% endif %}
                    </div>
                    <span class="badge badge-info">{{ ticket.status }}</span>
                    <a href="{% url 'tickets:ticket_details' ticket.id %}"><span class="text">{{ ticket.title }}</span></a>
                    <small class="badge badge-secondary"><i class="far fa-clock"></i> {{ ticket.created_at }} </small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>